@model RunStats.Models.RunningSession

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RunningSession</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Distance) (km)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Distance)
        </dd>
        <dt class = "col-sm-2">
            Duration
        </dt>
        <dd class = "col-sm-10" id="time">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExerciseType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExerciseType.ExerciseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shoes.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weather.Temperature)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weather.Temperature) C
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weather.WindSpeed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weather.WindSpeed) km/h
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weather.Clouds)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weather.Clouds) %
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weather.Moisture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weather.Moisture) %
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<script type="text/javascript" defer>
    function convertMsToTime(ms) {
        return new Date(ms).toISOString().slice(11, 19);
    }
    const timeSection = document.getElementById("time");
    const time = parseInt(timeSection.innerText);
    if (!isNaN(time)) timeSection.innerText = convertMsToTime(time);
</script>