@model IEnumerable<RunStats.Models.RunningSession>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExerciseType.ExerciseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weather.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shoes.Model)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                    @if (item.Time == null)
                    {
                        <text>Sesja trwa</text>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Time)
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExerciseType.ExerciseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weather.Location)
             </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shoes.Model)
            </td>
            <td>
                @if (item.Time == null)
                {
                <a asp-action="Edit" asp-route-id="@item.Id">Stop session</a>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
