@model IEnumerable<RunStats.Models.RunningSession>

@{
    ViewData["Title"] = "Index";
}

<h2>Running Sessions</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distance) (km)
            </th>
            <th>
                Duration
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExerciseType.ExerciseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weather.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shoes.Model)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                    @if (item.Time == null)
                    {
                        <text>Sesja trwa</text>
                    }
                    else
                    {
                        <p class="timeItem">@(item.Time)</p>
                    }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExerciseType.ExerciseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weather.Location)
             </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shoes.Model)
            </td>
            <td>
                @if (item.Time == null)
                {
                   <span><a asp-action="Edit" asp-route-id="@item.Id">Stop session</a> |</span>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script type="text/javascript" defer>
    function convertMsToTime(ms) {
        return new Date(ms).toISOString().slice(11, 19);
    }

    const sessionTimes = document.getElementsByClassName("timeItem");

    Array.from(sessionTimes).forEach(i => {
        const time = parseInt(i.textContent);
        if (isNaN(time)) return;
        let convertedTime = convertMsToTime(parseInt(i.textContent));
        i.textContent = convertedTime;
    });

</script>
