@model IEnumerable<RunStats.Models.RunningSession>

@{
    ViewData["Title"] = "Stats";
}

<h2>Running Stats</h2>

<h4>Longest run</h4>
@if (ViewBag.LongestRun != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Distance (km)
                </th>
                <th>
                    Duration (hr:min:sec)
                </th>
                <th>
                    Exercise name
                </th>
                <th>
                    Location
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @(ViewBag.LongestRun.Date)
                </td>
                <td class="distance">
                    @(ViewBag.LongestRun.Distance)
                </td>
                <td class="time">
                    @(ViewBag.LongestRun.Time)
                </td>
                <td>
                    @if (ViewBag.LongestRun.ExerciseType != null)
                    {
                        <p>@(ViewBag.LongestRun.ExerciseType.ExerciseName)</p>
                    }
                    else
                    {
                        <p>Traning type was deleted</p>
                    }
                </td>
                <td>
                    @(ViewBag.LongestRun.Weather.Location)
                </td>
            </tr>
        </tbody>
    </table>
}
else
{
    <p>No recorded sessions</p>
}
<h4>Best pace</h4>
@if (ViewBag.BestPace != null)
{
<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th class="distance">
                Distance (km)
            </th>
            <th>
                Pace (min/km)
            </th>
            <th>
                Exercise name
            </th>
            <th>
                Location
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @(ViewBag.BestPace.Date)
            </td>
            <td class="distance">
                @(ViewBag.BestPace.Distance)
            </td>
            <td class="pace">
                @(ViewBag.BestPace.Pace)
            </td>
            <td>
            @if (ViewBag.BestPace.ExerciseType != null)
            {
                <p>@(ViewBag.BestPace.ExerciseType.ExerciseName)</p>
            }
            else
            {
                <p>Traning type was deleted</p>
            }
            <td>
                @(ViewBag.BestPace.Weather.Location)
            </td>
        </tr>
    </tbody>
</table>
} else
{
   <p>No sessions</p>
}
<h4>Best pace (group by distance)</h4>
<h5>Up to 2 km</h5>
@if (ViewBag.TopSessionUpTo2Km != null)
{
<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Distance (km)
            </th>
            <th>
                Pace (min/km)
            </th>
            <th>
                Exercise name
            </th>
            <th>
                Location
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @(ViewBag.TopSessionUpTo2Km.Date)
            </td>
            <td class="distance">
                @(ViewBag.TopSessionUpTo2Km.Distance)
            </td>
            <td class="pace">
                @(ViewBag.TopSessionUpTo2Km.Pace)
            </td>
            <td>
            @if (ViewBag.TopSessionUpTo2Km.ExerciseType != null)
            {
                <p>@(ViewBag.TopSessionUpTo2Km.ExerciseType.ExerciseName)</p>
            }
            else
            {
                <p>Traning type was deleted</p>
            }
            </td>
            <td>
                @(ViewBag.TopSessionUpTo2Km.Weather.Location)
            </td>
        </tr>
    </tbody>
</table>
}
else
{
    <p>No session within this range</p>
}
<h5>Up to 5 km</h5>
@if (ViewBag.TopSessionUpTo5Km != null)
{
<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Distance (km)
            </th>
            <th>
                Pace (min/km)
            </th>
            <th>
                Exercise name
            </th>
            <th>
                Location
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @(ViewBag.TopSessionUpTo5Km.Date)
            </td>
            <td class="distance">
                @(ViewBag.TopSessionUpTo5Km.Distance)
            </td>
                <td class="pace">
                @(ViewBag.TopSessionUpTo5Km.Pace)
            </td>
            <td>
            @if (ViewBag.TopSessionUpTo5Km.ExerciseType != null)
            {
                <p>@(ViewBag.TopSessionUpTo5Km.ExerciseType.ExerciseName)</p>
            }
            else
            {
                <p>Traning type was deleted</p>
            }
            </td>
            <td>
                @(ViewBag.TopSessionUpTo5Km.Weather.Location)
            </td>
        </tr>
    </tbody>
</table>
}
else
{
    <p>No session within this range</p>
}
<h5>Up to 10 km</h5>
@if (ViewBag.TopSessionUpTo10Km != null)
{
<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Distance (km)
            </th>
            <th>
                Pace (min/km)
            </th>
            <th>
                Exercise name
            </th>
            <th>
                Location
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @(ViewBag.TopSessionUpTo10Km.Date)
            </td>
            <td class="distance">
                @(ViewBag.TopSessionUpTo10Km.Distance)
            </td>
            <td class="pace">
                @(ViewBag.TopSessionUpTo10Km.Pace)
            </td>
            <td>
            @if (ViewBag.TopSessionUpTo10Km.ExerciseType != null)
            {
                <p>@(ViewBag.TopSessionUpTo10Km.ExerciseType.ExerciseName)</p>
            }
            else
            {
                <p>Traning type was deleted</p>
            }
            </td>
            <td>
                @(ViewBag.TopSessionUpTo10Km.Weather.Location)
            </td>
        </tr>
    </tbody>
</table>
}
else
{
    <p>No session within this range</p>
}
<h5>Up to 20 km</h5>
@if (ViewBag.TopSessionUpTo20Km != null)
{
<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Distance (km)
            </th>
            <th>
                Pace (min/km)
            </th>
            <th>
                Exercise name
            </th>
            <th>
                Location
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @(ViewBag.TopSessionUpTo20Km.Date)
            </td>
            <td class="distance">
                @(ViewBag.TopSessionUpTo20Km.Distance)
            </td>
            <td class="pace">
                @(ViewBag.TopSessionUpTo20Km.Pace)
            </td>
            <td>
            @if (ViewBag.TopSessionUpTo20Km.ExerciseType != null)
            {
                <p>@(ViewBag.TopSessionUpTo20Km.ExerciseType.ExerciseName)</p>
            }
            else
            {
                <p>Traning type was deleted</p>
            }
            </td>
            <td>
                @(ViewBag.TopSessionUpTo20Km.Weather.Location)
            </td>
        </tr>
    </tbody>
    </table>
} else
{
    <p>No session within this range</p>
}
<h5>+ 20 km</h5>
@if (ViewBag.TopSessionAbove20Km != null) 
{
<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Distance (km)
            </th>
            <th>
                Pace (min/km)
            </th>
            <th>
                Exercise name
            </th>
            <th>
                Location
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @(ViewBag.TopSessionAbove20Km.Date)
            </td>
            <td class="distance">
                @(ViewBag.TopSessionAbove20Km.Distance)
            </td>
            <td class="pace">
                @(ViewBag.TopSessionAbove20Km.Pace)
            </td>
            <td>
            @if (ViewBag.TopSessionAbove20Km.ExerciseType != null)
            {
                <p>@(ViewBag.TopSessionAbove20Km.ExerciseType.ExerciseName)</p>
            } else
            {
                <p>Traning type was deleted</p>
            }
            </td>
            <td>
                @(ViewBag.TopSessionAbove20Km.Weather.Location)
            </td>
        </tr>
    </tbody>
</table>
}
else
{
    <p>No session within this range</p>
}

<script type="text/javascript" defer>
    function convertMsToTime(ms) {
        return new Date(ms).toISOString().slice(11, 19);
    };

    const sessionTimes = document.getElementsByClassName("time");

    Array.from(sessionTimes).forEach(i => {
        const time = parseInt(i.textContent);
        if (isNaN(time)) return;
        let convertedTime = convertMsToTime(parseInt(i.textContent));
        i.textContent = convertedTime;
    });

    function convertMetersToKilometers(meters) {
        const kilometers = (meters / 1000).toFixed(3);
        return `${kilometers} km`;
    };

    const distances = document.getElementsByClassName("distance");

    Array.from(distances).forEach(i => {
        const time = parseInt(i.textContent);
        if (isNaN(time)) return;
        let convertedDistance = convertMetersToKilometers(parseInt(i.textContent));
        i.textContent = convertedDistance;
    });
</script>